*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
:root {
    font-family: "Urbanist", sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  
    --buttonColor: #2a2c30;
    --secondaryColor: #4b4f56;
    --borderColor: #e3eaf0;
    --backgroundColor: #f7f7f7;
    --backgroundSecondary: #fefefe;
    --textColor: #1e1f23;
    --anchorColor: #535bf2;
    --main-color: #535bf2;
    --supporting-color: #ebf3fe;
    --glow-color: hsl(186, 91%, 4%);
  }


.header{

height: 70px;
/* background-color: red; */
width: 100%;

display: flex;
align-items: center;
border-bottom: 1px solid grey;


}
.header .logoContainer{

height: 90%;
width: 8%;
/* background-color: aquamarine; */
margin-left: 30px;
margin-right: 10px;



}


.header .logoContainer a img{
height: 100%;
width: 100%;


}


.header .navigation{

height: 100%;
width: 90%;
/* background-color: red; */

position: relative;


display: flex;
/* justify-content: center; */
align-items: center;

}
.header .navigation .inputBox{

height: 40px;
width: 50%;
/* background-color: yellow; */
box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
border-radius: 10px;
outline: none;
padding-left: 35px;
font-size: 17px;
border: none;


}

.header .navigation a .fa-magnifying-glass{

font-size: 18px;
/* font-weight: 500; */
position: absolute;
top: 25px;
left: 5px;
color: #212121;
}
.header .navigation  ul{

height: 100%;
width: 31%;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.header .navigation  ul a {


    text-decoration: none;
    color: #212121;
}
.header .navigation  ul a li{

    list-style: none;
   
}
.header .navigation  .accountLog{
    /* background-color: aquamarine; */
    height: 80%;
width: 10%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 10px;
    
}
.header .navigation .fa-cart-shopping{

font-size: 20px;
margin-left: 16px;

}


/* body part start here */


.bodyContent{

/* background-color: #212121; */
height: 350px;
width: 100%;

display: flex;



}

.bodyContent .categoryLeft{

    height: 95%;
    width: 30%;
    /* background-color: bisque; */
    border-radius: 20px;
    margin-top: 5px;
    margin-left: 5px;


    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(2,1fr);
    gap: 3px;


}
.bodyContent .categoryRight{
    height: 95%;
    width: 70%;
background-color: blueviolet;
margin: 5px 10px;
border-radius: 20px;



    
}

.bodyContent .categoryLeft .subCategory{
/* background-color: rgb(255, 255, 255); */
/* border-radius: 10px; */
box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;



}

.bodyContent .categoryLeft .subCategory .imgSlot{
/* background-color: aqua; */
height: 80%;
width: 100%;

}
.bodyContent .categoryLeft .subCategory .imgSlot img{

height: 100%;
width: 100%;
/* background-size: cover; */

}
.bodyContent .categoryLeft .subCategory p{
    text-align: center;


}
.bodyContent .categoryRight img{


    height: 100%;
    width: 100%;
}




/* <!-- second body paert start here --> */

.miniScroll{


height: 120px;
width: 94%;
margin: 50px auto;
/* background-color: aqua; */

display: grid;
gap: 10px;
grid-template-rows: repeat(1,120px);
grid-template-columns: repeat(7,1fr);

}
.miniScroll .miniScrollContent{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

/* background-color: bisque; */
/* border-radius: 5px; */



}
.miniScroll .miniScrollContent img{

    height: 100%;
    width: 100%;
}






/**** Our Home product section  Starts ***/


#productContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4.8rem;
  
    & .information {
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 1rem;
    }
  }
  
  .cards {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 2.5rem;
    width: 36rem;
    padding: 1.6rem;
    /* max-width: 1000px; */
    margin: 1.8vh auto;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 0.3rem;
    /*border: 0.1rem solid #ccc;
    */
    -webkit-border-radius: 0.2rem;
    -moz-border-radius: 0.3rem;
    -ms-border-radius: 0.3rem;
    -o-border-radius: 0.3rem;
    -webkit-border-radius: 0.3rem;
  }
  
  .category {
    background-color: #e7d6d6;
    padding: 0.3rem 1.2rem;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    border-radius: 10rem;
    -webkit-border-radius: 10rem;
    -moz-border-radius: 10rem;
    -ms-border-radius: 10rem;
    -o-border-radius: 10rem;
  }
  
  .productImage {
    max-width: 100%;
    width: 32rem;
    height: auto;
  }
  
  .productPriceElement,
  .productQuantityElement,
  .productStockElement {
    display: flex;
    gap: 2rem;
    align-items: center;
    text-align: center;
  }
  
  .productPriceElement {
    margin: 0.8rem 0;
  }
  
  .productProperty,
  .productDescription {
    font-size: 1.6rem;
  }
  
  .stockElement {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    border: 0.2rem solid var(--borderColor);
    border-radius: 0.8rem;
    margin: 0.8rem 0;
  
    & button {
      background-color: transparent;
      color: var(--buttonColor);
      font-size: 2rem;
      padding: 0.6rem 2rem;
      font-weight: bold;
      border: none;
  
      &:hover {
        cursor: pointer;
      }
  
      &:first-child {
        border-right: 0.1rem solid var(--borderColor);
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
      }
  
      &:last-child {
        border-left: 0.1rem solid var(--borderColor);
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
      }
    }
  
    .productQuantity {
      padding: 0rem 3rem;
      margin: 0;
      font-weight: bold;
    }
  }


 
  /**** Our Home product section Ends  ****/

